<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="bicycle-outline"></ion-icon> RJMotors
    </ion-title>
    <ion-buttons slot="end">
      <ion-chip>
        <ion-avatar>
          <img src="assets/person-circle-outline.svg" >
        </ion-avatar>
        <ion-label>Faça o login</ion-label>
      </ion-chip>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-card *ngFor="let card of cards">
    <ion-card-header>
      <ion-card-title>{{card.titulo}}</ion-card-title>
      <ion-card-subtitle>{{card.subtitulo}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     {{card.conteudo}}
     <ion-img [src]="card.foto"></ion-img>
     <ion-badge color="primary">10</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
<!--Criando Botão arrow para acessar redes sociais (botão de ação)-->
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>




